<svg-windsteer
  [compassHeading]="currentHeading()"
  [compassModeEnabled]="runtime.options()?.compassModeEnabled ?? true"
  [updateInterval]="runtime.options()?.updateInterval"
  [courseOverGroundAngle]="courseOverGroundAngle()"
  [courseOverGroundEnabled]="runtime.options()?.courseOverGroundEnable ?? true"
  [sogActive]="sogActive()"
  [trueWindAngle]="trueWindAngle()"
  [trueWindFresh]="trueWindFresh()"
  [twsEnabled]="runtime.options()?.twsEnable ?? true"
  [twaEnabled]="runtime.options()?.twaEnable ?? true"
  [trueWindSpeed]="trueWindSpeed()"
  [trueWindSpeedUnit]="trueWindSpeedUnit()"
  [appWindAngle]="appWindAngle()"
  [awsEnabled]="runtime.options()?.awsEnable ?? true"
  [appWindSpeed]="appWindSpeed()"
  [appWindSpeedUnit]="appWindSpeedUnit()"
  [laylineAngle]="runtime.options()?.laylineAngle"
  [closeHauledLineEnabled]="runtime.options()?.laylineEnable ?? true"
  [windSectorEnabled]="runtime.options()?.windSectorEnable ?? true"
  [driftEnabled]="runtime.options()?.driftEnable ?? true"
  [driftActive]="driftActive()"
  [driftUnit]="driftUnit()"
  [driftFlow]="driftFlow()"
  [driftSet]="driftSet()"
  [waypointAngle]="waypointAngle()"
  [waypointEnabled]="runtime.options()?.waypointEnable ?? true"
  [trueWindMinHistoric]="trueWindMinHistoric()"
  [trueWindMidHistoric]="trueWindMidHistoric()"
  [trueWindMaxHistoric]="trueWindMaxHistoric()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
  [rudderAngle]="rudderAngle()"
  [rudderEnabled]="runtime.options()?.rudderEnable ?? true"
  [headingFresh]="headingFresh()"
  [courseFresh]="courseFresh()"
  [appWindFresh]="appWindFresh()"
  [appWindSpeedFresh]="appWindSpeedFresh()"
  [trueWindSpeedFresh]="trueWindSpeedFresh()"
  [driftFresh]="driftFresh()"
  [setFresh]="setFresh()"
></svg-windsteer>
