<svg-windsteer
  [compassHeading]="currentHeading()"
  [compassModeEnabled]="runtime.options()?.compassModeEnabled ?? true"
  [updateInterval]="runtime.options()?.updateInterval"
  [courseOverGroundAngle]="courseOverGroundAngle()"
  [courseOverGroundEnabled]="runtime.options()?.courseOverGroundEnable ?? true"
  [sogActive]="sogActive()"
  [trueWindAngle]="trueWindAngle()"
  [trueWindFresh]="trueWindFresh()"
  [twsEnabled]="runtime.options()?.twsEnable ?? true"
  [twaEnabled]="runtime.options()?.twaEnable ?? true"
  [trueWindSpeed]="trueWindSpeedDisplay()"
  [trueWindSpeedUnit]="trueWindSpeedUnit()"
  [appWindAngle]="appWindAngle()"
  [awsEnabled]="runtime.options()?.awsEnable ?? true"
  [appWindSpeed]="appWindSpeedDisplay()"
  [appWindSpeedUnit]="appWindSpeedUnit()"
  [closeHauledLineAngle]="closeHauledAngle()"
  [runLineAngle]="runLineAngle()"
  [closeHauledLineEnabled]="runtime.options()?.closeHauledLineEnable ?? true"
  [windTraceEnabled]="runtime.options()?.windSectorEnable ?? true"
  [driftEnabled]="runtime.options()?.driftEnable ?? true"
  [setArrowActive]="setArrowActive()"
  [driftUnit]="driftUnit()"
  [driftFlow]="driftFlowDisplay()"
  [driftSet]="driftSet()"
  [waypointAngle]="waypointAngle()"
  [waypointEnabled]="runtime.options()?.waypointEnable ?? true"
  [windTrace]="windTrace()"
  [windTraceSeconds]="windTraceSeconds()"
  [sailSetupEnabled]="runtime.options()?.sailSetupEnable ?? false"
  [rudderAngle]="rudderAngle()"
  [rudderEnabled]="runtime.options()?.rudderEnable ?? true"
  [headingFresh]="headingFresh()"
  [courseFresh]="courseFresh()"
  [appWindFresh]="appWindFresh()"
  [appWindSpeedFresh]="appWindSpeedFresh()"
  [trueWindSpeedFresh]="trueWindSpeedFresh()"
  [driftFresh]="driftFresh()"
  [setFresh]="setFresh()"
  [polarOverlayMode]="overlayMode()"
  [polarCurve]="polarCurvePoints()"
  [polarCurveRotation]="overlayTwa()"
  [vmcCurve]="vmcCurvePoints()"
  [vmcOptima]="vmcOptima()"
  [overlayDotRadius]="overlayDotRadius()"
></svg-windsteer>
