@let cfg = runtime.options();
  <svg-simple-linear-gauge class="simpleLinearGaugeContainer"
    [displayName]="cfg?.displayName ?? 'Gauge Label'"
    [displayNameColor]="theme()?.contrastDim"
    [unitLabel]="unitsLabel()"
    [dataValue]="dataValue()"
    [dataValueLabel]="dataLabelValue()"
    [barColor]="barColor()"
    [barColorGradient]="barColorGradient()"
    [barColorBackground]="barColorBackground()"
    [gaugeMaxValue]="displayUpper()"
    [gaugeMinValue]="displayLower()"
    [highlights]="highlights()"
  ></svg-simple-linear-gauge>
