[bumpversion]
current_version = 1.0.1
commit = True
tag = False

[bumpversion:file:VERSION]

[bumpversion:file:package.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:src/assets/skip-dashboard-schema.json]
search = "skipVersion": "{current_version}"
replace = "skipVersion": "{new_version}"
