.pathGroup {
  width: 100%;
}

.pathGroupFields {
  display: block;
  width: calc(100% - 5px);
}

.pathField {
  width: 100%;
}

.pathProperties {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
  gap: 10px;
}

.fields {
  width: 100%;
}

.sourceField {
  flex: 3 1;
}

.unitField {
  flex: 3 1;
}
