<mat-card skipGestures mode="press" [enablePress]="dashboardStaticView()" [enableTap]="true" [enableDoubleTap]="false" [longPressMs]="400" appearance="raised" class="widget-container skip-widget-card-colors" [style.border]="dashboardStaticView() ? '1px dashed transparent' : '1px dashed var(--mat-sys-outline)'"
  (press)="onWidgetLongPress($event)"
  (tap)="onSingleTap($event)">
  <ng-container #childOutlet></ng-container>
  @if (loadFailed()) {
    <button type="button" class="widget-load-error" (click)="retryWidgetLoad()">
      <span class="widget-load-error__title">Widget failed to load</span>
      <span class="widget-load-error__hint">Tap to retry</span>
    </button>
  }
</mat-card>
<action-menu #actionMenu [items]="widgetActions" (selected)="onWidgetAction($event)" />
