:host {
  display: block;
  width: 100%;
  font-family: Roboto;
  overflow: hidden;
  aspect-ratio: 2 / 1; // width:height = 2:1, so height is half the width
  max-width: 100%;
  max-height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.starboard  {
  stroke: var(--skip-starboard-color);
}

.port {
  stroke: var(--skip-port-color);
}

.contrast-text {
  fill: var(--skip-contrast-color);
  stroke: var(--skip-contrast-color);
}

.contrast-text-dim {
  fill: var(--skip-contrast-dim-color);
  stroke: var(--skip-contrast-dim-color);
}

.awa-text {
  fill: var(--skip-orange-color);
  stroke: var(--skip-orange-color);
}

.awa-text-dim {
  fill: var(--skip-orange-dim-color);
  stroke: var(--skip-orange-dim-color);
}

.card-color {
  fill: var(--skip-widget-card-background-color);
}

.fixed-dial-background {
  fill: var(--skip-grey-color);
}

.rotating-dial-Backplate {
  fill: var(--mat-sys-background);
}

.rudderPort {
  fill: var(--skip-port-color);
}

.rudderStarboard  {
  fill: var(--skip-starboard-color);
}

.boxes {
  stroke: var(--skip-grey-color);
  fill: var(--skip-grey-color);
}
