<ng-container [formGroup]="pathsGroup">
  @if(isArray()) {
    @for (group of pathControlGroups; track $index) {
      <path-control-config style="display: block;"
        [pathFormGroup]="group"
        [filterSelfPaths]="filterSelfPaths().value"
        [multiCTRLArray]="multiCTRLArray">
      </path-control-config>
    }
  } @else {
    @for (key of pathsGroup.controls | objectKeys; track $index) {
      <path-control-config style="display: block;"
        [pathFormGroup]="pathGroupByKey(key)"
        [filterSelfPaths]="filterSelfPaths().value"
        [multiCTRLArray]="multiCTRLArray">
      </path-control-config>
    }
  }
</ng-container>
<mat-checkbox
  name="filterSelfPaths"
  [formControl]="filterSelfPaths()">
    Restrict to own vessel
</mat-checkbox>
